*, :after, :before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

/*Higher-lower logo styles*/
.image-container
{
    position: relative;
    display: flex;
    justify-content: center;
}

.image-container > img
{
    position: absolute;
    transform: scale(0.7);
}

/*Container styles*/
.container
{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px;
    gap: 10px;
}

/*Styling the box class and the paragraph inside it*/
.box
{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.box > p
{
    text-align: center;
    color: #fff;
    margin-top: 10px;
    position: absolute;
}

/*Styling 'contain', which is inside 'box'*/
.contain
{
    width: 318px;
    height: 180px;
    background-color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
}

/*Styling the button container for the higher and lower buttons*/
.button-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 130px;
}

/*These styles are for both the higher and lower buttons*/
.button
{
    font-size: 1.5rem;
    margin: 5px 0;
    padding: 5px;
    background-color: black;
    color: #5dc05d;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.button:hover
{
    background-color: #5dc05d;
    color: black;
}

/*Styling the score container which displays the score*/
.score-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#score-text
{
    background-color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 7px;
    margin-top: 5px;
    user-select: none;
}

/*Styling the end screen for when the game ends*/
#end-screen
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#end-screen-text,
#end-score
{
    margin: 10px 0;
    background-color: #5dc05d;
    padding: 8px;
    border-radius: 7px;
    font-size: 1.5rem;
    box-shadow: 0px 10px 7px black;
}

#end-score
{
    font-size: 2rem;
}

/*Restart button styles*/
#restart
{
    margin: 15px 0;
    font-size: 1.5rem;
    padding: 8px;
    background-color: #c45454;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

#restart:hover
{
    background-color: #e74545;
}

/*Using the hide class when something must be hidden*/
.hide
{
    display: none;
}
